<% if user_signed_in? %>

  <% url = "users/#{@current_user.id}/entries/new" %>

  <% if @entries.length > 0 %>

      <h3>Recent Entries:</h3>
      <ul>
        <% for i in 0..(@entries.length-1) %>
          <li><%= link_to @entries[i][:text].truncate(65, :separator => ' '), url_for([@user, @entries[i]]) %></li>
        <% end %>
      </ul>
      <%= link_to "New Entry", url, :class => "square-button green" %>
      <%= link_to "Archive", "/users/#{current_user.id}/entries", :class => "square-button grey" %>

  <% end %>

  <% if @entries.length == 0 %>

      <h3>Welcome to InsightJournal!</h3>
      <p id="intro-p">The journal is one of life's most powerful tools. The goal of InsightJournal is to give users an easy-to-use journaling tool that uncovers common themes and patterns in a user's entries over time and against environmental variables like weather patterns, location, and time of writing. We hope you like it.</p>
      <%= link_to "Get Journaling", url, :class => "square-button green" %>

  <% end %>

<% else %>
  <div id="front-card">
    <div id="front-welcome">
      <h2>Welcome to InsightJournal.</h2>
      <h4>The journaling tool that grows to know you.</h4>
      <img src="http://surreycanalsportsfoundation.org.uk/cms/wp-content/themes/SCSF/images/lightbulb.png" alt="">
    </div>
    <div id="sign-up-wrapper">
      <h4>New to InsightJournal? Sign up.</h4>
      <form accept-charset="UTF-8" action="/users" method="post">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="GtN1Hx54JRGIIQOcwz5Abxqzh/LTMJB+egtQ2Ipx2As=">
        </div>
        <div>
          <input id="user_email_sign_up" name="user[email]" size="30" placeholder="Email" type="email" value="" autocomplete="off">
        </div>
        <div>
          <input id="user_password_sign_up" name="user[password]" placeholder="Password" size="30" type="password">
        </div>
        <div>
          <input id="user_password_confirmation_sign_up" name="user[password_confirmation]" placeholder="Password confirmation" size="30" type="password">
        </div>
        <div>
          <input name="commit" type="submit" value="Sign Up" class="square-button orange">
        </div>
      </form>
    </div>
  </div>
<% end %> <!-- if user_signed_in? -->
