<h2>Your insights: </h2>

<h4>Average Mood Score: <%= @overall_mood_score %></h4>
<h4>Average Word Count: <%= @avg_word_count %></h4>
<h4>Your entries suggest you're <%= @most_common_tense %>-oriented</h4>
