textarea {
  height: 38em;
  width: 98%;
}

label {
  font-weight: 700;
}

select {
  height: 1.9em;
}

footer {
  visibility:hidden;
}

input {
  line-height: 20px;
}

.title-h2 {
  border-bottom: 1px solid black;
}

#intro-p {
  width: 80%;
}

.green-container {
  border-radius: 8px;
  background-color: rgb(223, 240, 216);
  padding: 1em;
}

.navbar .brand {
  font-weight: 500;
}

header a {
  margin: 0;
  padding-top: 10px;
  margin-left: 1.2em;
  font-weight: bold;
  font-size: 1.1em;
}

.well.sidebar-nav {
  overflow:hidden;
}

.width-restrictor {
  width: 58%;
}


.create-entry-link {
 background-color: green;
 margin: 1.5em;
}

a:hover {
  text-decoration: none;
}

#filter-btn, #create-entry, #update-entry {
  margin-bottom: 0.7em;
}
