/*================================*/
/* Dev Helpers */
/*================================*/
div {
  border: 1px dotted black;
}
/*================================*/
/* App-Wide */
/*================================*/
html, body {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.container {
  min-height:100%;
}

.content-container {
  width: 100%;
  /* margin-bottom must offset the footer height */
  margin-bottom: -10em;
}

/* Title that appears at top of page, i.e. Insights, Entry Created at ... */
.title-h2 {
  border-bottom: 1px solid black;
}

/*================================*/
/* Header/Nav-bar */
/*================================*/
header a {
  margin: 0;
  padding-top: 10px;
  margin-left: 1.2em;
  font-weight: bold;
  font-size: 1.1em;
}
/*
.navbar .brand {
  font-weight: 500;
}*/

.well.sidebar-nav {
  overflow:hidden;
}

/*================================*/
/* Forms */
/*================================*/
textarea {
  height: 38em;
  width: 98%;
}

label {
  font-weight: 700;
}

label[for="user_remember_me"] {
  display:inline;
}
select {
  height: 1.9em;
}


footer {
  background-color: green;
  height:10em;
}

input {
  line-height: 20px;
}

#user_remember_me {
  vertical-align: inherit;
}

#filter-btn, #create-entry, #update-entry {
  margin-bottom: 0.7em;
}
/*================================*/
/* Footer
/*================================*/

/*================================*/
/* Insights
/*================================*/
.Positive, .Negative, .Neutral {
  padding: 0.35em 0.26em;
  border-radius: 3.5px;
}

.Positive {
  background-color: rgb(223, 240, 216);
}

.Negative {
  background-color: rgba(200, 77, 72, .8);
}

.Neutral {
  background-color: rgba(252, 219, 154, .6);
}

/* Word-Count Box at top of Insights Page */
.green-container {
  border-radius: 8px;
  background-color: rgb(223, 240, 216);
  padding: 1em;
}

#intro-p {
  width: 80%;
}


.create-entry-link {
 background-color: green;
 margin: 1.5em;
}

